body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addGrandpaJoeButton, .addOompaLoompaButton, .lineupButton, .addVioletButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border-radius:2px;
  position:absolute;
}
.container {
  background: #000 url("img/chocolate-factory.jpg") no-repeat center center fixed;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.oompa-loompa-pic{
  width: 50%;
  height: 50%;
}

.grandpa-joe{
  width: 50%;
  height: 50%;
}

.violet-pic{
  width: 30%;
  height: 30%;
}

.candy-pic {
  width: 20%;
  height: 20%;
/*    position: relative;
    -webkit-animation: mymove 2s 1; /* Safari 4.0 - 8.0 */
    /*animation: mymove 2s 1;*/*/
}

/* Safari 4.0 - 8.0 */
/*@-webkit-keyframes mymove {
    0%   {top: -1px;}
    50%  {top: 0px;}
    100% {top: 700px;}
}
*/
/* Standard syntax */
/*@keyframes mymove {
    0%   {top: -1px;}
    50%  {top: 0px;}
    100% {top: 700px;}
}*/